<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgwsjj.jiang.spider1.dao.IResourcesDao">
    <!--<insert id="insertRes">-->
    <!--#{sql}-->
    <!--</insert>-->
    <!--<resultMap id="itemMap" type="Item">-->
        <!--<id property="id" column="id" javaType="java.lang.Integer"/>-->
        <!--<result property="title" column="title" javaType="String"/>-->
        <!--<result property="url" column="url" javaType="String"/>-->
        <!--<result property="linksPwds" column="links_pwds" javaType="String"/>-->
    <!--</resultMap>-->

    <select id="selectRes " resultType="com.zsgwsjj.jiang.model.Item">
        SELECT * FROM resource_spider limit 1;
    </select>
</mapper>