<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgwsjj.jiang.spider1.dao.IResourcesDao">

    <resultMap id="CheckMap" type="java.util.HashMap">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="INTEGER"/>
        <result column="links_pwds" property="links" javaType="java.lang.String" jdbcType="BLOB"/>
    </resultMap>

    <select id="getNewestOne" resultMap="CheckMap">
        SELECT
            id,
            links_pwds
        FROM resource_spider
        WHERE status = 0 AND links_pwds IS NOT NULL
        ORDER BY create_time
        LIMIT 1;
    </select>

    <update id="updateStatus" parameterType="Integer">
        UPDATE resource_spider
        SET status = 1
        WHERE id = #{id};
    </update>

    <select id="getTest" resultType="com.zsgwsjj.jiang.model.Item">
        SELECT
            id,
            title
        FROM resource_spider
        WHERE id = 101;
    </select>
</mapper>