<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <properties>
        <property name="LOG_HOME">/Users/jiangjiang/tomcat_logs/log</property>
        <!--<property name="FILE_NAME"></property>-->
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t][%F-%L] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>